
/* File: styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl; /* Right to Left for Arabic */
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    color: #4CAF50;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.admin-button {
    display: block;
    margin-top: 20px;
    background-color: #ff9800;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}

.admin-button:hover {
    background-color: #e68900;
}

